@charset "utf-8";

/* 도깨비 PJ : 공통 모듈 CSS - common.css */
/* 공유기능 요소 셋팅 */



/************* 0. 전체 영역 레이아웃 셋팅 *************/

/* 1. 상단영역 */
.top-area{
  height: 120px;
}
/* 2. 배너영역 */
.ban-area{
  position: relative;
  /* .cat-box의 부모자격 */
  height: 680px;
}
/* 2.5.서브파트메뉴 */
.spart-menu{
  height: 68px;
}
/* 8. 하단영역 */
.footer-area{
  height: 371px;
}


/************* 1. 상단영역 *************/
/* 메인로고 */
.mlogo {
  margin-top: 20px;
}


/*GNB 메뉴  */
.gnb ul {
  display: flex;
  justify-content: flex-end;
}

/* GNB 리스트 */
.gnb ul li {
  /*  padding: 0 15px; */
}

/* GNB링크 */
.gnb ul a {
  display: block;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 60px;
}

/* 메뉴 오버시 */
.gnb ul a:hover {
  color: red;
}

/* top 메뉴 */
.top-menu ul {
  display: flex;
  justify-content: flex-end;
}

/* top-menu 리스트 */
.top-menu ul li {
  margin: 0 15px;
}

/* top-menu 링크 */
.top-menu ul a {
  font-size: 1rem;
  line-height: 30px;
}

/*  서브가 있는 리스트 선택하기 */
/* 4~6까지 */
/* a요소 오버시 커서변경 */
.gnb ul>li:nth-child(3) ~ li:nth-child(-n + 6)>a {
  text-decoration: overline;

  /* 손가락표시 변경하기 */
  cursor: default;
  /* cusor 오버시 커서 옵션 변경하는 속성 */
}

/* 가상요소로 아래쪽 화살표 넣가 */
.gnb ul>li:nth-child(3) ~ li:nth-child(-n + 6)>a::after {
  /* 트랜스폼은 인라인에서 적용안됨 */
  display: inline-block;
  transform: translateX(1.5px);
  content: "∨";
  margin-left: 5px;
}

/* 서브메뉴 */
.smenu {
  z-index: 999;
  position: absolute;
  /* 부모는? 보이는 화면 */
  left: 0;
  width: 100%;

  /* 최대 높이 숨기기 */
  max-height: 0;

  /* 내용 숨기기 */
  overflow: hidden;

  transition: 0.4s;
}

/* 상위메뉴 오버시 서브메뉴 보이기 */
.gnb ul li:hover .smenu {
  max-height: 56vh;
  border-top: 2px solid #ccc;

  background: #fff;
}



.smenu ol{
  /* 플렉스 박스 */
  display: flex;
  /* 플렉스 랩핑 박스 */
  flex-wrap: wrap;
  gap: 1rem 2vw;
  /* flex박스 간격 속성: gap: gap(위아래,양쪽) -> 하나의 값만 쓰면
  모두 셋팅*/
  white-space: nowrap;
}

/* 서브 속박스 */
.swrap{
  
  width: 60vw;
  margin: 0 auto;
  padding: 4rem;
  
  padding: 4.9rem 12.8rem 6rem;
  
}

/* 서브타이틀 */
.smenu h2{
  font-size: 2rem;
}



/************ 2. 메인영역 ************/

/* 2-1 배너영역 */

/* 슬라이드 박스 */
.slide-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 슬라이더 */
.slider{
  position: relative;
  display: flex;
  /* 하위 li를 옆으로 흐르게함 */
  width: 100%;
  height: 100%;

  /* 위치이동 초기값 */
  left: 0;
}


.slider li{
  flex-basis: 100%;
  flex-shrink: 0;
  /* 부모크기만큼 옆으로 나가게 하려면
  flex-shrink 기본값 1을 0으로 변경한다
  1 = 부모크기에 맞추어 줄어듦 / 0 = 설정된 크기대로 늘어남 */

  /* 공통배경설정 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 슬라이드 01 */
.snum-01{
background: url(../images/bg_main_01.jpg);
}
/* 슬라이드 02 */
.snum-02{
background: url(../images/bg_main_02.jpg);
}
/* 슬라이드 03 */
.snum-03{
background: url(../images/bg_main_03.jpg);
}


/* 캐릭터 박스 -> 캐릭터 속박스가 있는 공간을 확보해준다 */
.cat-box{
  position: absolute;
  bottom: 3%;
  left: 0;
  
  /* 부모는? .ban-area*/
  width: 100%;
  /* height: 300px; */

  outline-color: red;
}

/* 캐릭터 속박스 - static한 박스!!(공간차지) */
.cat-inbox{
  /* 플렉스 박스 */
  display: flex;
  padding: 0 1vw;
  
  /* 가로 최대크기 */
  max-width: 1360px;

  /* 가로 중앙정렬 */
  margin: 0 auto;

  /* 플렉스 자식 사이 간격조절
  gap: 상하 좌우 <<값 순서 */
  gap: 0 1.2vw;
}

/* 캐릭터 개별박스 등분할 */
.cat-inbox article{
  flex: 1;
}

/* 캐릭터 이미지 박스 */


.imbx img{
  width: 100%;
}

/* 캐릭터 이름 이미지 박스 */
.iname{
  display: block;

  bottom: 0;
  left: 0;
  /* 앱솔루트 없이 마진으로 상단 이미지와 겹치게하기
  %의 기준은 마진주기전 박스의 세로 크기를 기준한다!*/
  margin-top: -21%;
  
  text-align: center;
}

.iname img{
  width: 40%;
}

/* 두번째 이미지 숨기기 */
.iname img:nth-child(2){
  display: none;
}

/* 오버시 두번쨰 이미지 보이기 */
.cat-inbox article:hover .iname img:nth-child(2){
  display: inline;
}

/* 오버시 첫번쨰 이미지 숨기기 */
.cat-inbox article:hover .iname img:nth-child(1){
  display: none;
}
/************* 3. 하단영역 *************/
