@charset "utf-8";
/* 도깨비 PJ : 메인페이지 CSS - main.css */

/* 리셋, 코아, 커먼 공통 외부CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);
/* 그리드 12 불러오기 */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
body * {
 /*    outline: 2px dashed #ccc; */
}

/* 3. 인트로영역 */
.intro-area{
    height: 575px;
}

/*********** 방송편성소개파트 : .intro-part ***********/
.main .intro-part .partbox {
    height: 455px;
    padding: 10px;
}
/* 서브타이틀 */
.intro-part .stit{
    padding-bottom: 0;
}
/* 하위제목+아이콘 박스 */
.intro-desc{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.2rem;
}
.intro-desc h3{
    margin-right: 10px;
}
.intro-desc ul{
    display: flex;
    gap: 0 15px;
}
/* 설명박스 */
.intro-txt{
    padding: 20px;
    font-size: 1.4rem;
    line-height: 2;
    color: #555;
}
/* 인트로버튼 */
.intro-btn{
    padding: 20px 50px;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: transparent;
    border: 1px solid #000;
    font-weight: bold;
}

/* 인트로 동영상 박스 */
.intro-mv-img{
    position: relative;
    /* 부모자격 */
    aspect-ratio: 2/1.1;
}
/* 가상요소로 플레이버튼 만들기 */
.intro-mv-img.off::after{
    /* .off를 준 경우에만 가상요소 버튼 보임!
    따라서 video로 태그 전환시 .off 제거 */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    background: url(../images/icon_play.png) no-repeat;
    cursor: pointer;
}

/* 하위 이미지/동영상 */
.intro-mv-img img,
.intro-mv-img video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
/* 동영상 설명박스 */
.intro-mv-box figcaption{
    font-size: 2rem;
    padding-top: 10px;
}



/************************ 4. 미리보기영역 ************************/
.preview-area{
    /* padding-top: 60px; */
    /* height: 803px;
    높이값을 지정하면 내용만큼 자동으로 높이값이
    잡히지 않아서 매번 크기에 따라 값을 셋팅 해야함!
    그러므로 되도록이면 auto로 두자
    */
}
.preview-box ul{
    gap: 1rem;
    justify-content: space-between;
}
/* 리스트박스 */
.preview-box li{
    flex-basis: calc(100% / 4 - 20px);
    
    /* 패딩값 고려하여 뺌 */
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 1px #797979;
    box-sizing: border-box;

    /* 여러줄 말줄임표시 셋팅하기 */
    display: -webkit-box;
    overflow: hidden;
    /*... 말줄임표 표시*/
    text-overflow: ellipsis;
    /*보여줄 라인 수*/
    -webkit-line-clamp: 7;
    /*진행방향*/
    -webkit-box-orient: vertical;
}

/* 리스트박스 타이틀 */
.preview-box li h3{
    font-size: 1.5rem;
    color: #1a1a1a;
    font-weight: normal;
}
/* 리스트박스 내용 */
.preview-box li p{
    overflow: hidden;
    font-size: 1rem;
    margin-top: 1.4rem;
    padding-bottom: 1rem;
    opacity: .5;
    color: #1a1a1a;
    line-height: 1.7;
    transition: .1s;
}

/* 리스트 내용 오버시 오퍼시티 1 */
.preview-box li:hover p{
    opacity: 1;
}
/*********************** 5. 현장포토영역 ***********************/
.real-photo-area{
    /* height: 1043px; */
}

/* 현장포토 그리드박스 */

.live-box li{
    cursor: pointer;
}

.live-box ul{
    display: grid;
    /* 4개 컬럼 동일배율 */
    grid-template-columns: repeat(4, 1fr);

    /* 그리드 간격 */
    gap: min(20px, 1vw);
}

/* 이미지 */
.live-box img{
    border-radius: 6px;
    width: 100%;
}

/* 이미지 타이틀 */
.live-box figcaption{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
}

/*********************** 6. 대표이미지 영역 ***********************/
.main-photo-area{
    /* height: 731px; */
}

.poster-box li{
    cursor: pointer;
}

.poster-box ul{
    display: grid;
    /* 4개 컬럼 동일배율 */
    grid-template-columns: repeat(4, 1fr);

    /* 그리드 간격 */
    gap: min(20px, 1vw);
}

/* 대표이미지 리스트 grid-row 셋팅
->2줄로 셋팅하려면 줄번호가
*/
/* 2~4번 */
.poster-box li:nth-child(1){
grid-row: 1/2;
}
.poster-box li:nth-child(1) ~ li:nth-child(-n+4){
grid-row: 1/3;
}
.poster-box li:nth-child(5){
/* 다음줄 li가 위로 올라옴 */
grid-row: 2/3;
}

/* 이미지 */
.poster-box img{
    border-radius: 6px;
    width: 100%;
}

/* 이미지 타이틀 */
.poster-box figcaption{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
}
/*********************** 7. 최신동영상영역 ***********************/
.clip-box ul {
    position: relative;
    left: 0;/* 이동초기값 */
    display: flex;
    gap: 0 2%;
    /* 트랜지션 */
    transition: left .4s ease-in-out;
}

.clip-box li {
    flex-basis: calc(25.5% - 2%);
    flex-shrink: 0;
}

/* 동영상 이미지박스 */
.clip-mv-box {
    position: relative;
    /* 부모자격 */
}
/* 동영상 이미지박스 이미지 */
.clip-mv-box img {
    width: 100%;
}
/* 동영상 이미지박스 가상요소로 플레이버튼 */
.clip-mv-box::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 62px;
    height: 62px;
    background: url(../images/icon_play.png) no-repeat 0/100%;
    cursor: pointer;
}

.clip-box h4 {
    font-size: 18px;
    font-weight: normal;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.clip-box h3 {
    font-size: 15px;
    font-weight: normal;
    color: #555;
}

.clip-box {
    /* overflow: hidden; */
}


/* 양쪽버튼만들기 */
.btn-box button{
    position: absolute;
    z-index: 999;
    top: 43%;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 65px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border: none;
    background-color: rgba(0, 0, 0, 0.6); 
}
/* 왼쪽버튼 */
.btn-box button:first-child{
    left: -35px;
    /* 처음에 안보임 */
    display: none;
}
/* 오른쪽버튼 */
.btn-box button:last-child{
    right: -35px;
    display: none;
}
