//변수 셋팅하기//////////////////////
$mainColor1: #ff6d6d;
$mainColor1-2: #ffbebe;
$mainColor2: #d36dff;
$mainColor2-2: #edc4ff;

//글자색
$fontColor: #6f48ca;

//글자크기
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 20px;

