/* info_PJ 서브페이지용 CSS - sub.css */
/* 공통외부 css 불러오기 */
@import url(./common.css);

/* 
    @import 방식으로 외부파일 불러와서 합치면
    html 파일에서 link 방식으로 불러올 필요가 없다!
    이것의 이점은 웹요청[http request]이 줄어들어
    html의 렌더링 속도가 항상된다!
*/
/* 서브페이지 타이틀 */
h2.sub-title {
    /* 글자색: (C) */
    color: #0fb100;
    /*     color: rgb(26 253 45/0.582);
    color: rgba(26, 253, 45, 0.582); */

    /* 글자크기 (FZ) */
    font-size: 38px;

    /* 글자두께: font-weight(fw) */
    /*font-weight: bold; fwb */
    font-weight: normal;

    /* 글자체: font-family
    -콤마로 구분된 글자체는 대체체임 
    앞의 글자체가 없의면 뒤의 글자체가 적용됨.
    만약 모두 없으면 브라우저가 기본체로 적용됨*/
    font-family: "Black Han Sans", sans-serif;

    /* 택스트 정렬: text-align: center (tac:중앙정렬) */
    text-align: center;

    /* 글자 그림자: text-shadow*/
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);

    /* 박스 테두리 - border(bd): 두 종  색
    -두께: 선두께
    -종류: 선종류(solid 실선, dotted 점선, deshed 대쉬선)
    - 색상: 테두리 색상*/
    border: 1px solid #797979;

    /* 둥근모서리: border redius (brad)*/
    border-radius: 20px;

    /* 패딩 - p */
    padding: 20px;
    /* 배경색: bgc */
    background-color: rgb(255, 255, 255);



    /* 배경반복여부(bgr) */
    background-repeat: no-repeat;

    /* 배경고정 */

    /* 배경위치 background-position(bgp) */
    background-position: center;

    /* 배경크기 background-size(bgz)
   - cover는 박스를 빈틈없이 비율유지하여 채움! */
    background-size: cover;

    /* 외부 css에서 이미지 경로 주의!!
   HTML파일 위치가 아닌 css파일 위치에서 상대경로를 잡아야 이미지가 나온다!! */

    /*             
서브타이틀: font-family: "Black Han Sans", sans-serif;
기사본문: font-family: "Noto Sans KR", sans-serif; 
font-family: "Do Hyeon", sans-serif;
*/
}

/* 배경이미지: bgi 개별적으로 줌! */
/*     background-image: url(../images/titbg4.jpg); */
/* 정치 */
.politics {
    background-image: url(../images/titbg1.jpg);
}

/* 경제 */
.economic {
    background-image: url(../images/titbg2.jpg);
}

/* 사회 */
.society {
    background-image: url(../images/titbg3.jpg);
}

/* IT/과학 */
.it {
    background-image: url(../images/titbg4.jpg);
}

/* TV/연예 */
.tv {
    background-image: url(../images/titbg5.jpg);
}