@charset "utf-8";
/* 보그pj 공통 CSS - common.css */
/* 상단,하단 공통 모듈 css */


/*************************** 1.상단영역 ***************************/
.top-area{
    /* 최소높이 */
    min-height: 260px;
}

/*************************** 2.메인영역 ***************************/
.main-area{
    /* 최소높이 컨텐츠가 적을 경우*/
    min-height: 600px;
}

/*************************** 3.하단영역 ***************************/
.footer-area{
    /* 최소높이 */
    min-height: 285px;
}
