@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/*********** 1. 웹폰트 : CDN ***********/
/* Cute Font, Jua, Audiowide 체 */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cute+Font&family=Jua&display=swap');
/* 
    font-family: 'Audiowide', cursive;
    font-family: 'Cute Font', cursive;
    font-family: 'Jua', sans-serif;
*/
/* 리셋 */
@import url(./reset.css);

body{
    background-color: #000;
}

/* 공사중 표시 */
body * {
    /* outline: 2px dashed yellow; */
    /* outline: 두 종 색; */
}
/* 공통 클래스 */
/* 파트공통 */
.part{
    width: 1200px;
    /* 중앙정렬 마.영.오! */
    margin: 0 auto;
}

/************ 1. 상단영역 ************/
.top-area{
    height: 80px;
    /* 배경이미지 */
    background: url(../images/curtain.jpg) repeat-x;
    position: relative;
    /* 부모자격: .gnb */
}
/* 1-1.타이틀 */
.tit{
    font-family: 'Jua', sans-serif;
    font-size: 40px;
    color: aquamarine;
    line-height: 80px;
    text-align: center;
    /* 글자 글로우 효과 */
    text-shadow: 0 0 0px aquamarine;

    animation: tit-ani .4s ease-in infinite alternate;
}

@keyframes tit-ani{
    100%{
        text-shadow: 0 0 15px aquamarine;
    }
}

/* 1-2 gnb메뉴 */
.gnb{
    position: absolute;
    right: 10PX;
    bottom: 35%;
    z-index: 999;
}
.gnb>ul{
    /* 플렉스 박스 */
    display: flex;
    font-family: 'Jua', sans-serif;
    font-size: 2rem;
    gap: 0 2rem;
}

.gnb ul>li{
position: relative;
/* 하위메뉴와 연결되게함 */
padding-bottom: 20px;
/* 부모자격 : smenu */
}

/* 서브메뉴 */
.smenu{

    top: 45px;

    position: absolute;
    /* gnb가 부모! */
    width: 150px;
    /* outline: 2px solid  yellow; */
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 2;
    padding: 3px;
    background: url(../images/bg_smenu.png) no-repeat center/cover;
    height: max-content;
    left: 50%;
    transform: translateX(-50%);
    /* box-shadow: 0 0 5px #fff; */
    /* 가상요소를 포함한 모든 외곽선에 효과 적용 > filter!! */
    filter: drop-shadow(0 0 5px #fff);

    display: none;
}

/* 상위메뉴 오버시 메뉴 보이게 */
.gnb ul>li:hover .smenu{
display: block;
}

/* 가상요소 삼각형 만들기 */
.smenu::before{
    content: '';
    
    top: -15px;
    position: absolute;
    width: 20px;
    height: 15px;
    background-color: #282828;
    /* 클립패스로 자르기 */
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    left: 50%;
    transform: translateX(-50%);
}
/* 서브메뉴 ol */
.smenu>ol{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    white-space: nowrap;
}

/* 사이 구분선 class */
.bd-top{
    border-top: 1px solid #ccc;
}

/* 서브 오버시 폰트컬러 변경 */
.smenu li:hover a{
    cursor: pointer;
    color: red;
}
/* 서브메뉴 오버시 아이콘 */
.smenu li:hover a::after{
    content: '🍀';
    /* 오른쪽 끝에 */
    float: right;
}

/* 예매*/
.gnb ul>li:nth-child(1) .smenu li:hover a::after{
    content: '🌸';
    float: right;
}

/* 극장 */
.gnb ul>li:nth-child(2) .smenu li:hover a::after{
    content: '🍺';
    float: right;
}

/* 이벤트 */
.gnb ul>li:nth-child(3) .smenu li:hover a::after{
    content: '🌻';
    float: right;
}

/* 영사기 */
.cam{
    position: absolute;
    top: -7%;
    right: -41%;
    
}
.cam img{
    width: 50%;
    transform-origin: 50%, 50%;
    rotate: 20deg;
    transition: .2s ease-in-out;
    
}

.gnb:hover .cam img{
    rotate: 0deg;
}
.gnb:hover .beam{
    opacity: 1;
    transition: width .3s .3s;
}


/* 빔박스 */
.beam{
    /* 메뉴, 카메라 보다 아래 */
    z-index: -1;
    position: absolute;
    top: -14px;
    right: -11px;
    height: 70px;
    width: 0px;
    opacity: 1;
    transform-origin: right;
    
    background: url(../images/bim.png) no-repeat right/auto 100%,
    url(../images/screen.gif) no-repeat right 100%/auto 100%;

    animation: beam-ani .01s linear .2s infinite alternate;

}

/* 빔 애니메이션 */
@keyframes beam-ani{
    100%{
        opacity: .5;
        width: 100%;
    }
}



/************ 2. 메인영역 ************/
.main-area{
    position: relative;
    /* 부모자격 - .screen */
    height: 788px;
    /* 극장이미지 배경 */
    background: url(../images/bg.jpg) no-repeat;
}
/* 2-1.스크린 */
.screen{
    position: absolute;
    /* 부모는? .main-area */
    top: 136px;
    left: 257px;
    width: 701px;
    height: 397px;
    background-color: #000;
}
/* 유튜브 아이프레임 */
.screen iframe#ifr{
    width: 100%;
    height: 100%;
    /* 기본 프레임보더 없앰 */
    border: none;
}
/* 2-2.포스터 메뉴 */
.poster-menu{
    position: absolute;
    width: 65%;
    bottom: 5%;
    left: 50%;
    /* 가로방향 중앙이동 */
    transform: translateX(-50%);
    /* 부모는? .main-area */
    /* 한번에 메인영역 하단으로
    위치이동 포지셔닝을 하기위한
    최적의 포지션은 absolute다! */
}
/* 포스터 ul 가상요소 clear */
/* .poster-menu ul::after{
    content: '';
    display: block;
    clear: both;
}
 */
/* 포스터 리스트 */
.poster-menu ul{
    /* 플렉스박스 */
    display: flex;
    /* 하위 요소 사이간격 */
    gap: 0 15px;
}
/* li리스트 사이간격 */
/* 상위메뉴 ul > li */
.poster-menu>ul>li{
    position: relative;
    /* 영화정보박스 부모자격 */
    overflow: hidden;
    /* 자식요소의 영화정보값 숨기기 */
}

/* 포스터 이미지 */
.poster-menu img{
    width: 100%;
    /* height: 170px; */
}
/* 영화정보박스 : 오버시 올라올 박스 */
.mv-info{
    position: absolute;
    height: 100%;
    /* 부모자격:상위메뉴 ul > li  */
    /* 아래쪽에 나가있음 */
    top: 100%;
    text-align: center;

    width: 100%;
    height: 100%;
    color: #fff;

    transition: .4s ease-in-out;
}

/* 부모li에 오버시 영화정보 올리는거 */
.poster-menu >ul>li:hover .mv-info{
    top: 0;
}

/* 영화정보박스 하위 ol */
.mv-info ol{
    display: flex;
    /* 플렉스박스
    -> 옆으로 흘러가지 않아도 구성요소의 흐름을 제어한다
    */
    /* 진행방향*/
    flex-direction: column;
    /* 진행방향 정렬*/
    justify-content: center;
    
    /* 부모박스 채우기 */
    height: 100%;
    white-space: nowrap;
    /* 글자크기 */
    font-size: 12px;
    line-height: 2;

    background: #00000090;
}


/************ 3. 하단영역 ************/
.footer-area{
    height: 100px;
}